<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bedouin CRM</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div>
      <h2>Customers</h2> 
      <form target="" method="POST">
        Real name: <input name="realName">
        Other email: <input name="otherEmail">
        Product: <select>
            <option name="backend-known">Known</option>
            <option name="backend-owncloud">ownCloud</option>
            <option name="backend-wordpress">WordPress</option>
            <option name="backend-trovebox">Trovebox</option>
            <option name="static">Static</option>
        <input type="submit" value="Add user to this server">
      </form>
    </div>
  </body>
</html>
